.navbar {
	margin-bottom: 1px;
	font-family: "Ubuntu Condensed",Lato,Roboto,"Helvetica Neue",Helvetica;
}
.navbar-header {
  background-color: indianred;
}
.wrapper {
  background-color: indianred !important;
}
.skin-red .left-side, .skin-red .main-sidebar, .skin-red .wrapper {
	background-color: #ffffff !important;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
  	background-color: indianred !important;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
background-color: #AA3A3A !important;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
  background-color: #BB4B4B !important;
}

.container-fluid {
	padding-right: 1px;
	padding-left: 1px;
	margin-right: auto;
	margin-left: auto;
}
.content-wrapper {
  background-color: #ffffff !important;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 2px;
	line-height: 1.5 !important;
	vertical-align: middle !important;
	border-top: 1px solid #ddd;
}

.box-body {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	padding: 2px;
	font-family: "Ubuntu Condensed",Lato,Roboto,"Helvetica Neue",Helvetica;
}

.box {
	position: relative;
	border-radius: 30px;
	background: #fff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 5px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	font-family: "Ubuntu Condensed",Lato,Roboto,"Helvetica Neue",Helvetica;
}

.body {
  font-size: 12px !important;
  font-family: "Ubuntu Condensed",Lato,Roboto,"Helvetica Neue",Helvetica;
}
body, label, input, button, select, box, .h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
	font-family: "Ubuntu Condensed",Lato,Roboto,"Helvetica Neue",Helvetica;
	color: rgb(45,45,45);
}
